<VirtualHost *:80>
    ServerName {{ vhost.domainname }} 

{% if vhost.alias is defined %}
{% for alias in vhost.aliases %}
    ServerName {{ alias }}
{% endfor %}
{% endif %}

    <Directory "{{ httpd_dir_vhosts }}/{{ vhost.domainname }}/www/public/.well-known/acme-challenge/">
        Options None
        AllowOverride None
        ForceType text/plain
        RedirectMatch 404 "^(?!/\.well-known/acme-challenge/[\w-]{43}$)"
    </Directory>
    RewriteEngine On
    RewriteCond %{REQUEST_URI} !^.well-known/acme-challenge [NC]
    RewriteCond %{HTTPS} off
    RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}
</VirtualHost>

<VirtualHost *:443>
    ServerName {{ vhost.domainname }}

{% if vhost.alias is defined %}
{% for alias in vhost.aliases %}
    ServerName {{ alias }}
{% endfor %}
{% endif %}

    DocumentRoot {{ httpd_dir_vhosts }}/{{ vhost.domainname }}/www/public
    ErrorLog /var/log/httpd/{{ vhost.domainname }}_error.log
    CustomLog /var/log/httpd/{{ vhost.domainname }}_access.log combined

    SSLEngine on
    SSLCertificateFile {{ httpd_dir_vhosts }}/{{ vhost.domainname }}/ssl/cert.pem
    SSLCertificateKeyFile {{ httpd_dir_vhosts }}/{{ vhost.domainname }}/ssl/privkey.pem
    SSLCertificateChainFile {{ httpd_dir_vhosts }}/{{ vhost.domainname }}/ssl/fullchain.pem


    <Directory {{ httpd_dir_vhosts }}/{{ vhost.domainname }}/www/public>
        DirectoryIndex index.html index.php
        Options -Indexes +FollowSymLinks +MultiViews
        AllowOverride All
        Require all granted

        <Files .user.ini>
            Order allow,deny
            Deny from all
        </Files>
    </Directory>

    <FilesMatch \.php$>
        SetHandler "proxy:unix:{{ httpd_dir_vhosts }}/{{ vhost.domainname }}/bin/php-fpm.socket|fcgi://localhost/"
    </FilesMatch>

{% for db in vhost.databases %}
{% if db.env == "yes" %}

    SetEnv DATABASE_{{ db.env_name }}_HOST 'localhost'
    SetEnv DATABASE_{{ db.env_name }}_NAME '{{ db.name }}'
    SetEnv DATABASE_{{ db.env_name }}_USER '{{ db.user }}'
    SetEnv DATABASE_{{ db.env_name }}_PASSWORD '{{ db.pssword }}'

{% endif %}
{% endfor %}

</VirtualHost>
